<div class="sidebar">
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create certification site</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCertificationInformation()">Certification Information's</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToDocumentation()">Amazon documentation</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToGenerateTest()">Test yourself</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToTutorial()">Best tutorial</button>
  </div>
</div>
